In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
train=pd.read_excel(r'C:\Users\USER\Desktop\TrainSet.csv.xlsx')
test=pd.read_excel(r'C:\Users\USER\Desktop\TestSet.csv.xlsx')
train.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,subscribed
0,26110,56,admin.,married,unknown,no,1933,no,no,telephone,19,nov,44,2,-1,0,unknown,no
1,40576,31,unknown,married,secondary,no,3,no,no,cellular,20,jul,91,2,-1,0,unknown,no
2,15320,27,services,married,secondary,no,891,yes,no,cellular,18,jul,240,1,-1,0,unknown,no
3,43962,57,management,divorced,tertiary,no,3287,no,no,cellular,22,jun,867,1,84,3,success,yes
4,29842,31,technician,married,secondary,no,119,yes,no,cellular,4,feb,380,1,-1,0,unknown,no

In [2]:
test.head()

,ID,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,38441,32,services,married,secondary,no,118,yes,no,cellular,15,may,20,6,-1,0,unknown
1,40403,78,retired,divorced,primary,no,2787,no,no,telephone,1,jul,372,1,-1,0,unknown
2,3709,31,self-employed,single,tertiary,no,144,yes,no,unknown,16,may,676,1,-1,0,unknown
3,37422,57,services,single,primary,no,3777,yes,no,telephone,13,may,65,2,-1,0,unknown
4,12527,45,blue-collar,divorced,secondary,no,-705,no,yes,unknown,3,jul,111,1,-1,0,unknown

In [3]:
train['subscribed'].replace('no', 0,inplace=True)
train['subscribed'].replace('yes', 1,inplace=True)

In [4]:
target = train['subscribed']
train = train.drop('subscribed',1)

In [5]:

# applying dummies on the train dataset
train = pd.get_dummies(train)

In [6]:

# applying dummies on the train dataset
train = pd.get_dummies(train)

In [7]:

from sklearn.model_selection import train_test_split

In [8]:
X_train, X_val, y_train, y_val = train_test_split(train, target, test_size = 0.2, random_state=12)

In [9]:
from sklearn.linear_model import LogisticRegression

In [10]:
# defining the logistic regression model
lreg = LogisticRegression()

In [11]:
# fitting the model on  X_train and y_train
lreg.fit(X_train,y_train)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [12]:
prediction = lreg.predict(X_val)

In [13]:
from sklearn.metrics import accuracy_score

In [14]:
accuracy_score(y_val, prediction)

0.8845181674565561

In [15]:
from sklearn.tree import DecisionTreeClassifier

In [16]:
clf = DecisionTreeClassifier(max_depth=4, random_state=0)

In [17]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [18]:
predict = clf.predict(X_val)

In [19]:
accuracy_score(y_val, predict)

0.9042654028436019

In [20]:
test = pd.get_dummies(test)

In [21]:
test_prediction = clf.predict(test)

In [22]:
submission1 = pd.DataFrame()

In [23]:
submission1['ID'] = test['ID']
submission1['subscribed'] = test_prediction

In [24]:
submission1['subscribed'].replace(0,'no',inplace=True)
submission1['subscribed'].replace(1,'yes',inplace=True)

In [27]:
submission.to_csv('submission1.csv', header=True, index=False)